* {
    margin:0;
    padding:0;
}

body {
    background-color: #faebd7;
    color:#D64B7C;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

/*********************************************************************************************************************                                          Barra de navegacion *********************************************************************************************************************/

header nav {
    box-shadow: 1px 1px 5px grey;
    display: flex;
    justify-content: flex-end;
    
    
}

header nav a {
    margin: 1%;
    padding: 1%;
    text-decoration: none;
}
header nav a:hover{
    color:whitesmoke;
    font-weight: bold;
    border-radius:100px;
    box-shadow:#B5B8A3 20px 10px;
    background-color: #AA7DCE;

}
/*********************************************************************************************************************                                              seccion presentacion *********************************************************************************************************************/
.contenedor-hola {
    display: flex;
    padding: 5% 1% 1% 5%;
    align-items: center;

}
.imagengatito {
   max-width: 600px;
}
.Hola-info h1 {
    font-size: 60px;
    font-weight: bold;
}
.hola {
    text-align:start;
}

.contenedor-conoceme{
    display: flex;
    justify-content: center;

}
.Hola-info a {
    background-color: #95BF8F;
    border-radius: 250px;
    padding: 2% 3%;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}
/*********************************************************************************************************************
                                            seccion conocimientos
*********************************************************************************************************************
*/
.contenedor-conocimientos{
    background-color: #fdf7ef;
    padding: 10% 20%; 

}
.titulo-seccion{
    font-weight: 700px;
    font-size: 40px;
    text-align: center;

}

section p {
    text-align:center;
}
.tarjeta {
margin:7%;
padding: 4%;
height:9%;
background: white;
border: violet solid 1px;

}
.tarjeta:hover{
    box-shadow:10px 10px 10px 10px #ffbba8;
}
    
.tarjeta h2 {
    font-size: 30px;
    color: black;
}
.contenedor-flexbox{
    display: flex;
}
.contenedor-tarjetas i{
    font-size: 100px;
}
/* *********************************************************************************************************************
                                                    Seccion cita
********************************************************************************************************************* */
.cita {
    padding: 10%;
    text-align: center;
    background-color: #F0E2E7;
}
.cita img{
    border-radius:50%;
    width: 13%;
    height:13%;
    
}
.cita-magali{
    margin:10px;
    padding: 10px;
    font-style: italic;
    font-weight:bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.cita h2 {
    color: black;
}
/*********************************************************************************************************************                                                  seccion proyectos *********************************************************************************************************************/
#proyectos{
    text-align: center;
}
#proyectos h2{
    font-size: 50px;
    margin-top: 100px;
}
#proyectos p{
    margin-top: 2%;
}
.contenedor-flexbox {
    display: flex;
    justify-content: center;
}
/*********************************************************************************************************************
                                                  seccion contacto
*********************************************************************************************************************
*/
.formulario{
    background-color: aliceblue;
    padding: 5%;
}
.contenedor-formulario{
    background-color: #ffbba8;
    display: flex;
    justify-content: center;
    border: #D64B7C 1px solid;
    text-align: left;

}
.formulario h2{
    font-weight: bold;
    color: black;
    font-size:2em;
}

.contactame{
    width: 50%;

}

.contactame p{
    color: black;
    text-align: left;
}
.escribir-mensaje{
    text-align: left;
    width: 50%;
}

